<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Microblog</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="/" class="brand">Microblog</a>
                 <div class="nav-collapse">
                    <u class="nav">
                        <li class="active"><a href="/">Index Page</a></li>
                        <% if(!user) { %>
                            <li><a href="/login">Login in</a></li>
                            <li><a href="/reg">Register</a></li>
                        <% } else { %>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </u>
                </div>
            </div>
        </div>
    </div>
    <div id="container" class="container">
        <% if(success) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
        <% if(error) { %>
            <div class="alert alert-error">
                <%= error %>
            </div>
        <% } %>
        <%- body %>
        <hr />
        <footer>
            <p><a href="https://quanru.github.io" target="_blank">Quanru</a>2015</p>
        </footer>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</html>
