<form method="post" action="/post" class="well form-inline center" style="text-align:center">
    <input type="text" class="span8" name="post">
    <button class="btn btn-success" type="submit"><i class="icon-comment icon-white" style="width: 120px">post</i></button>
</form>